{
  "env": {
    "browser": true,
    "es2021": true
  },
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "rules": {
    "semi": ["error", "always"],
    // "quotes": ["warn", ""],
    "import/no-anonymous-default-export": "off",
    "no-unused-vars": "off",
    "object-to-default-export": "off",
    "import/default": "off",
    "react/react-in-jsx-scope": "off", // suppress errors for missing 'import React' in files
    "react/jsx-filename-extension": [
      1,
      { "extensions": [".js", ".jsx", ".ts", ".tsx"] }
    ],
    "react/no-unknown-property": ["error", { "ignore": ["jsx"] }],
    "react/prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "no-undef": "off"
  }
}
